Source: chinese-checkers
Section: games
Priority: optional
Maintainer: Salvo 'LtWorf' Tomaselli <tiposchi@tiscali.it>
Standards-Version: 3.9.5
Homepage: https://github.com/ltworf/tin171
Build-Depends: debhelper (>= 7.0.50~), python, python-support, pyqt5-dev-tools, python-yappy, rebar (>= 2.0.0)

Package: chinese-checkers-client
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-pyqt5, python-yappy, python-pyqt5.qtsvg
Recommends: chinese-checkers-server, python-notify2
Description: Multiplayer implementation of the chinese checkers. GUI package
 Chinese checkers is a multiplayer board game, that can be played by
 2,3,4,6 players.
 .
 This package provides a GUI to play the game.

Package: chinese-checkers-server
Architecture: all
Depends: ${misc:Depends}, erlang-base
Description: Multiplayer implementation of the chinese checkers. Server package
 Chinese checkers is a multiplayer board game, that can be played by
 2,3,4,6 players.
 .
 This package provides the server, to be able to host games.
 It is needed to play against the bots locally.

Package: chinese-checkers-daemon
Architecture: all
Depends: ${misc:Depends}, chinese-checkers-server
Description: Multiplayer implementation of the chinese checkers. Init scripts
 Chinese checkers is a multiplayer board game, that can be played by
 2,3,4,6 players.
 .
 This package installs init.d file and configuration to run the
 chinese-checkers-server as a daemon.
