#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	make all

override_dh_auto_install:
	make DESTDIR=debian/chinese-checkers-client install_gui
	make DESTDIR=debian/chinese-checkers-server install_server
