#!/usr/bin/make -f

%:
	dh $@

clean:
	rm -rf build *.egg-info
	dh $@


override_dh_auto_clean:
override_dh_auto_build:
override_dh_auto_install:
	python setup.py install --root=$(CURDIR)/debian/chinese-checkers-client

#override_dh_install:
#        install -D relational_gui.py debian/relational/usr/bin/relational
#        install -D relational_gui.py debian/relational-cli/usr/bin/relational-cli
#        dh_install

